{% block footer %}
    <footer>
        <div class="bg-black">
            <!-- special-sponsors -->
            <div class="container mx-auto grid grid-cols-2  md:grid-cols-5 gap-3 p-4 ">
                <div class="mb-5">
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/aras.png') }}" alt="sponsor primario">
                </div>
                <div class="mb-5">
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/tecate.png') }}" alt="sponsor primario">
                </div>
                <div class="mb-6">
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/caliente.png') }}" alt="sponsor primario">
                </div>
                <div class="mb-6">
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/afirme.png') }}" alt="sponsor primario">
                </div>
                <div class=" col-span-2 md:col-span-1">
                    <img class="mx-auto w-52 h-20 md:w-auto md:h-auto" src="{{ asset('images/patrocinadores/fox_sports.png') }}" alt="sponsor primario">
                </div>
            </div>
            <!--            <hr class="container mx-auto border-0 h-px bg-gradient-to-r from-gray-800 via-white to-gray-800">-->
            <!-- normal-sponsors -->
            <div class="container mx-auto px-4 grid grid-cols-4 gap-3 mt-4">
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/telcel.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/calimax.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/cocacola.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/silza.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/volaris.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/powerade.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/carlsjr.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/kermato.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/charly.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/coppel.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/sukarne.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/nissan.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/abc.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/calientemx.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/gonher.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/pegaduro.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="{{ asset('images/patrocinadores/bhfitness.png') }}" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto h-24 filter grayscale" src="https://lafabricadeltaco.com/images/home/logo-lfdt-aguila.png" alt="sponsor secundario">
                </div>
            </div>
            <!-- site-map -->
            <div class="invisible md:visible container md:mx-auto grid grid-cols-7 md:gap-2 text-gray-400 text-center px-14 md:px-0 mt-4">
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Club</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmarés</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                        <li>CIX</li>
                        <li>FUT 7</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Torneos</li>
                        <li>Calendario Liga</li>
                        <li>Calendario Femenil</li>
                        <li>Calendario Copa</li>
                        <li>Tabla General</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Estadio</li>
                        <li>Eventos</li>
                        <li>Palcos</li>
                        <li>Restaurante</li>
                        <li>Xoloshop</li>
                        <li>Contacto</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Boletos</li>
                        <li>Boletos</li>
                        <li>Market Place</li>
                        <li>Xolopass</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Noticias</li>
                        <li>Primer Equipo</li>
                        <li>Equipo Femenil</li>
                        <li>Xolos x Ti</li>
                        <li>Fuerzas Basicas</li>
                        <li>Promociones</li>
                        <li>Galerías</li>
                        <li>Videos</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Medios</li>
                        <li>Reglamento</li>
                        <li>Solicitud Acreditaciones</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Contacto</li>
                        <li>Presidencia</li>
                        <li>Estadio</li>
                        <li>Comercialización</li>
                        <li>Fuerzas Basicas</li>
                        <li>Responsabilidad Social</li>
                    </ul>
                </div>
            </div>
            <!-- powered by -->
            <div class="-mt-64 md:mt-0 container mx-auto grid grid-col p-4">
                <img class="mx-auto" src="{{ asset('images/Logo-Xolos-Red.png') }}" alt="logo-footer">
                <p class="capitalize text-red-600 text-center text-xs">
                    <a class="hover:text-gray-300" href="#"> aviso de Privacidad </a> / <a class="hover:text-gray-300" href="#"> terminos y condiciones </a>
                </p>
                <p class="capitalize text-red-600 text-center font-bold text-lg">
                    Club Tijuana Xoloitzcuintles de Caliente ©.
                </p>
            </div>

        </div>
    </footer>
{% endblock %}
