{% block header %}

<header class="fixed top-0 w-full" style="z-index: 999;">
  <div class="w-full h-14 bg-red-600 ">
    <div class="grid grid-cols-3 mb-0 pb-0 h-14">
        <div class="flex -mb-12 w-auto lg:w-96">
            <a class="z-40 top-0 flex-1 xl:ml-28" href="{{ path('frontend_home') }}">
                <img class="h-28 ml-0 md:ml-3 lg:ml-7 xl:ml-10" src="https://xolos.com.mx/bundles/frontend/images/logo_new.png" alt="logo">
            </a>
        </div>
        <div class="hidden lg:block h-12 " style="width: 410px;">
            <a href="https://xoloshop.com/"><img src="https://xolos.com.mx/bundles/frontend/images/xoloshop-banner.png" alt="xoloshop" class=""></a>
        </div>
        <div class="flex content-center justify-center items-center ml-8 h-14">
            <ul class="flex  content-betwen text-white">
                <li class="m-1"><i class="fab fa-facebook "></i></li>
                <li class="m-1"><i class="fab fa-twitter "></i></li>
                <li class="m-1"><i class="fab fa-instagram "></i></li>
                <li class="m-1"><i class="fab fa-tiktok "></i></li>
                <li class="m-1"><i class="fab fa-youtube "></i></li>
            </ul>
        </div>
    </div>
</div>
    <div class="h-14" id="menuBlack">
    <a href="#" class="logo hidden">Escudo</a>
    <div class="navigation">
      <ul class="menu">
        <div class="flex border-b-2 pb-4 border-red-600">
          <div class="absolute top-4 left-0 pr-9 pt-1 lg:hidden grid justify-center max-wi"> <img src="https://xolos.com.mx/bundles/frontend/images/xoloshop-banner.png" alt="xoloshop" class=""></div>
        <button onclick="removeOverflow()"><div class="close-btn"></div></button>
        </div>
        <li class="menu-item"><a href="{{ path('frontend_home') }}">INICIO</a></li>
        <li class="menu-item"><a href="#">VIDEOS</a></li>
        <li class="menu-item">
          <a class="sub-btn" href="#">CLUB<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu grid grid-cols-2">
            <li class="sub-item"><a href="{{ path('frontend_players_category', {'category': constant('App\\IcUtils\\IcConfig::IC_JUGADOR_CATEGORIA_PRIMER')}) }}">PLANTEL</a></li>
            <li class="sub-item"><a href="{{ path('frontend_coach')}}">CUERPO TECNICO</a></li>
            <li class="sub-item"><a href="#">FUERZAS BASICAS</a></li>
            <li class="sub-item"><a href="{{ path('frontend_estadio')}}">ESTADIO</a></li>
            <li class="sub-item"><a href="{{ path('frontend_historia')}}">HISTORIA</a></li>
            <li class="sub-item"><a href="{{ path('frontend_directiva')}}">DIRECTIVA</a></li>
            <li class="sub-item"><a href="{{ path('frontend_palmares')}}">PALAMRES</a></li>
            <li class="sub-item"><a href="{{ path('frontend_players_category', {'category': constant('App\\IcUtils\\IcConfig::CATEGORIA_EQUIPO_FEMENIL')}) }}">PLANTEL FEMENIL</a></li>
            <li class="sub-item"><a href="#">XOLOSHOP</a></li>
            <li class="sub-item"><a href="#">CIX</a></li>
            <li class="sub-item"><a href="#">FUT 7</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="sub-btn" href="#">NOTICIAS<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="sub-item"><a href="{{ path('frontend_news_category', {'category': constant('App\\IcUtils\\IcConfig::CATEGORIA_NOTICIA_PRIMER_EQUIPO')} )}}">PRIMER EQUIPO</a></li>
            <li class="sub-item"><a href="{{ path('frontend_news_category', {'category': constant('App\\IcUtils\\IcConfig::CATEGORIA_NOTICIAS_EQUIPO_FEMENIL')} )}}">FEMENIL</a></li>
            <li class="sub-item"><a href="{{ path('frontend_news_category', {'category': constant('App\\IcUtils\\IcConfig::CATEGORIA_NOTICIA_FUERZAS_BASICAS')} )}}">FUERZAS BASICAS</a></li>
            <li class="sub-item"><a href="{{ path('frontend_news_category', {'category': constant('App\\IcUtils\\IcConfig::CATEGORIA_NOTICIA_SOCIAL')} )}}">XOLOS X TI</a></li>
            <li class="sub-item"><a href="{{ path('frontend_news_category', {'category': constant('App\\IcUtils\\IcConfig::CATEGORIA_NOTICIA_PROMOCIONES')} )}}">PROMOCIONES</a></li>
            <li class="sub-item"><a href="#">GALERIA</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="sub-btn" href="#">ESTADIO<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="sub-item"><a href="{{ path('frontend_eventos')}}">EVENTOS</a></li>
            <li class="sub-item"><a href="{{ path('frontend_palcos')}}">PALCOS</a></li>
            <li class="sub-item"><a href="#">RESTAURANTE</a></li>
            <li class="sub-item"><a href="{{ path('frontend_xoloshopEstadio')}}">XOLOSHOP</a></li>
            <li class="sub-item"><a href="{{ path('frontend_estadioContacto')}}">CONTACTO</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="sub-btn" href="#">TORNEOS<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="sub-item"><a href="{{ path('frontend_schedule', {'calendario': constant('App\\IcUtils\\IcConfig::IC_LIGA')})}}">CALENDARIO DE LIGA</a></li>
            <li class="sub-item"><a href="#">TABLA GENERAL</a></li>
            <li class="sub-item"><a href="#">CALENDARIO DE COPA</a></li>
            <li class="sub-item"><a href="{{ path('frontend_schedule', {'calendario': constant('App\\IcUtils\\IcConfig::IC_FEMENIL')})}}">CALENDARIO DE LIGA FEMENIL</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="sub-btn" href="#">BOLETOS<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="sub-item"><a href="https://xolos.xtixs.com/" target="_blank">BOLETOS</a></li>
            <li class="sub-item"><a href="#">MARKET PLACE</a></li>
            <li class="sub-item"><a href="{{ path('frontend_xolopass') }}">XOLOPASS</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="sub-btn" href="#">MEDIOS<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="sub-item"><a href="{{ path('frontend_reglamento')}}">REGLAMENTO</a></li>
            <li class="sub-item"><a href="#">SOLICITUD DE ACREDITACIONES</a></li>
            
          </ul>
        </li>
        <li class=" menu-item">
          <a class="sub-btn" href="#">CONTACTO<i class="ml-1 fas fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="sub-item"><a href="{{ path('frontend_contactoPresidencia')}}">PRESIDENCIA</a></li>
            <li class="sub-item"><a href="{{ path('frontend_contactoEstadio')}}">ESTADIO</a></li>
            <li class="sub-item"><a href="{{ path('frontend_contactoComercializacion')}}">COMERCIALIZACION</a></li>
            <li class="sub-item"><a href="{{ path('frontend_contactoFuerzasBasicas')}}">FUERZAS BASICAS</a></li>
            <li class="sub-item "><a href="{{ path('frontend_contactoResponsabilidadSocial')}}">RESPONSABILIDAD SOCIAL</a></li>
          </ul>
        </li>
      </ul>
    </div>
      <button onclick="addOverflow()"><div class="menu-btn"></div></button>
  </div>
</header>


{% endblock %}