{% extends 'base.html.twig' %}

{% block body %}
    <!-- Nota Principal full screen -->
    <div class=" h-screen w-auto">
        <!-- <img src="https://xolos.com.mx/bundles/frontend/images/contacto_estadio.jpg" alt="" class="h-screen w-auto object-cover"> -->
        <video class="h-screen w-screen object-cover filter brightness-75" muted autoplay loop playsinline data-video="0">
            <source src="https://xolos.icserver.net/pics/dia-muertos-clubtijuana.mp4" type="video/mp4">
        </video>
        <div class="w-full xl:w-8/12 lg:w-8/12 md:w-8/12 sm:w-11/12 absolute bottom-2 md:bottom-10 left-0 h-52">
            <h1 class=" text-white mb-3 md:mb-5 text-2xl mx-5 xl:text-5xl lg:text-4xl md:text-4xl mt-5 md:mt-0 " style="text-shadow:3px 3px 10px black;">PASION POR ESTOS COLORES QUE HAN ECHADO RAICES HASTA EL MUNDO DE LAS SOMBRAS</h1>
            <div class="flex h-auto w-24 md:w-32 bg-red-600 rounded-md mx-5 justify-center">
                <a class=" text-gray-50 my-auto text-md xl:text-xl underline p-2" href="https://tailwindui.com/components/marketing/sections/testimonials">LEER MAS</a>
                <img src="/pics/img/arrow-right.png" alt="" class="h-4 w-4 my-auto ">
            </div>
        </div>
    </div>
    {# <div class="w-full mb-4">
        <video class="filter brightness-50" loop muted autoplay playsinline data-video="0">
            <source src="https://www.juventus.com/images/video/upload/t_video_mp4/dev/video/20210816_HERO_NUOVA_DIVISA_28MB.mp4" type="video/mp4;codecs=avc1.42E01E, mp4a.40.2">
        </video>
    </div> #}
    
    <!-- Noticias -->  

   <div class="h-20 mb-2 md:mb-4">
        <div class="bg-red-600 mt-10 md:mt-12 mb-0 h-12 md:h-14 w-4/12 md:w-48 flex justify-center mx-auto rounded-md">
            <h1 class="text-white text-2xl md:text-3xl m-auto font-semibold">NOTICIAS</h1>
        </div>
    </div>

    <!-- CARROUSEL CON SPLIDE JS -->


<div class="splide px-5 md:px-10" style="height: 450px;">
      <div class="splide__track h-96 rounded-md" >
        <ul class="splide__list h-96" >

                {% for noticia in noticias %}
                    

          <li class="splide__slide h-96" >
            <div class=" h-48 w-full md:flex">
              <div class=" h-full w-full md:h-96 md:w-7/12 grayligth">
                <a href="{{ path('frontend_news', {'post': noticia.id}) }}"><img class="img-splide h-full w-full object-cover bg-center md:h-full inset-0 transform  hover:scale-105 transition duration-300" src="https://admin.xolos.com.mx/uploads/galeria/noticias/{{ noticia.imagenPrincipal }}" alt=""></a>
            </div>
              <div class=" h-full px-3 pt-2 md:pt-8 xl:pt-24 grayligth md:h-96 md:w-5/12">
                <a href="Noticia.html" class=" mt-1 text-xl md:text-4xl text-gray-700 ">{{noticia.titulo}}</a>
                <p class="mt-2 text-gray-500 md:mt-5 lg:mt-10 md:text-2xl font-thin">{{noticia.intro}}</p>
                <a href="{{ path('frontend_news', {'post': noticia.id}) }}" class="absolute bottom-2 right-2 md:right-6 lg:text-lg front-thin text-gray-500 hover:underline ">LEER NOTICIA COMPLETA ></a>       
              </div>
            </div>
          </li>

                {% endfor %}

        </ul>
      </div>
    </div>

    <!-- videos api YT -->
    
    <div class="h-20 md:mb-4">
        <div class="bg-red-600 mt-10 md:mt-12 mb-0 h-12 md:h-14 w-4/12 md:w-48 flex justify-center mx-auto rounded-md">
            <h1 class="text-white text-2xl md:text-3xl m-auto font-semibold">VIDEOS</h1>
        </div>
    </div>

    <div class=" grid xl:grid-cols-3 xl:grid-rows-2 lg:grid-cols-3 lg:grid-rows-2 gap-1 w-full px-5 md:px-10 mb-8 " id="results">

    {# los videos se pintan aqui usando la libreria del modal y el script apiYouTube #}
    
    </div>

    {#Seccion de tabla y calendario#}
</div>

      <div class=" md:flex h-auto w-auto bg-red-600 mt-18 md:mt-28 pt-7 md:pt-0 pb-18">
        <div class="w-auto md:w-1/2 lg:w-2/5 mx-14 md:mx-10 md:mr-10 md:ml-20">
          <!-- sign -->
          <div class=" w-40 md:w-44 h-12 md:h-14 bg-black text-2xl md:text-3xl flex justify-center md:-mt-7 mx-auto rounded-md">
            <h1 class="text-white text-center m-auto font-semibold">TABLA</h1>
          </div>
          <!-- end sign -->
          <!-- empieza tabla -->
          <div class="py-4 min-w-full">
              <div class="-mx-10 md:-mx-10 py-4 overflow-x-auto">
                  <div class="inline-block min-w-full max-w-full shadow rounded-md overflow-hidden">
                      <table class="min-w-full leading-normal bg-white">
                          <thead>
                              <tr>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider ">
                                      #
                                  </th>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      EQUIPO
                                  </th>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider ">
                                      PARTIDOS
                                  </th>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider hidden xl:table-cell">
                                      JG.
                                  </th>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider hidden xl:table-cell">
                                      JP.
                                  </th>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider hidden xl:table-cell">
                                      JE.
                                  </th>
                                  <th
                                      class="px-5 py-5 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      PTS
                                  </th>
                              </tr>
                          </thead>
    <!--DataTable-->               <tbody>
                              
                              {% for posiciones in tabla|slice(0,12) %}

                                    {% if posiciones.idEquipo.id == 33 %}

                                <tr class="bg-white">
                                <td class="px-5 py-1 border-b border-gray-200 rounded-l-full bg-red-600 text-sm " id=""> 
                                    <p class="text-gray-900 text-center">{{loop.index}}</p>
                                </td>
                                <td class="px-5 py-1 border-b border-gray-200  text-sm bg-red-600 ">           
                                      <div class="p-0 m-auto h-8 w-8 ">          
                                          <img class=" rounded-full w-8 h-8 "
                                                src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_EQUIPOS')}}{{posiciones.idEquipo.logo}}">
                                      </div>
                                  </td>
                                <td class="px-5 py-1 border-b border-gray-200  text-sm bg-red-600">
                                    <p class="text-gray-900 whitespace-no-wrap text-center">{{posiciones.jj}}</p>
                                </td>
                                <td class="px-5 py-1 border-b border-gray-200  text-sm hidden xl:table-cell bg-red-600">
                                    <p class="text-gray-900 whitespace-no-wrap text-center">
                                        {{posiciones.jg}}
                                    </p>
                                </td>
                                <td class="px-5 py-1 border-b border-gray-200  text-sm hidden xl:table-cell bg-red-600">
                                    <p class="text-gray-900 whitespace-no-wrap text-center">
                                        {{posiciones.jp}}
                                    </p>
                                </td>
                                <td class="px-5 py-1 border-b border-gray-200  text-sm hidden xl:table-cell bg-red-600">
                                    <p class="text-gray-900 whitespace-no-wrap text-center">
                                        {{posiciones.je}}
                                    </p>
                                </td>
                                <td class="px-5 py-1 border-b border-gray-200  text-sm lg:table-cell rounded-r-full bg-red-600">
                                    <p class="text-gray-900 whitespace-no-wrap text-center">
                                        {{posiciones.pts}}
                                    </p>
                                </td>
                              </tr>
                                    
                                    {% else  %}

                                <tr >
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm">
                                      <p class="text-gray-900 whitespace-no-wrap text-center">{{loop.index}}</p>
                                  </td>
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm">           
                                        <div class="p-0 m-auto h-8 w-8 ">          
                                            <img class=" rounded-full w-8 h-8 "
                                                  src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_EQUIPOS')}}{{posiciones.idEquipo.logo}}">
                                        </div>
                                    </td>
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm">
                                      <p class="text-gray-900 whitespace-no-wrap text-center ">{{posiciones.jj}}</p>
                                  </td>
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm hidden xl:table-cell">
                                      <p class="text-gray-900 whitespace-no-wrap text-center">
                                          {{posiciones.jg}}
                                      </p>
                                  </td>
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm hidden xl:table-cell">
                                      <p class="text-gray-900 whitespace-no-wrap text-center">
                                          {{posiciones.jp}}
                                      </p>
                                  </td>
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm hidden xl:table-cell">
                                      <p class="text-gray-900 whitespace-no-wrap text-center">
                                          {{posiciones.je}}
                                      </p>
                                  </td>
                                  <td class="px-5 py-1 border-b border-gray-200 bg-white text-sm xl:table-cell">
                                      <p class="text-gray-900 whitespace-no-wrap text-center">
                                          {{posiciones.pts}}
                                      </p>
                                  </td>
                                </tr>

                                    {% endif %}

                                {% endfor %}

                              </tr>                      
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!--FINAL DE LA TABLA, COMIENZO DE CALENDARIO clases borradas lg:px-14-->
      <div class="w-auto md:w-1/2 lg:w-3/5 bg-red-600 border-red-50 mb-10 pb-10 md:mr-10 md:px-8 mx-5 lg:ml-0 md:pr-5 lg:pr-0"> 
      <div class=" h-12 md:h-14 w-72 md:w-80 lg:w-96 bg-black text-2xl md:text-3xl flex justify-center mx-auto mb-8 md:-mt-7 rounded-md">
        <h1 class="text-white text-center m-auto font-semibold">PROXIMOS PARTIDOS</h1>
      </div>
          <div class="swiper mySwiper w-auto h-auto rounded-md" style="height: 545px;">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper w-full bg-cover" style="background-image:url(pics/img/fondo-prox-partidos.jpg)">
                <!-- Slides -->

                {% for jornada in calendario %}
                    
                
                <div class="swiper-slide text-center relative">
                  <h1 class="text-3xl md:text-4xl pt-5 text-gray-600">{{jornada.descripcion}}</h1>
                  <h2 class=" text-xl md:text-3xl pt-1 md:pt-3 font-thin text-gray-600">Estadio: {{jornada.idEquipo.estadio}}</h2>
                  <div class="flex justify-center py-8">
                    
                    <img src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_EQUIPOS')}}{{jornada.idEquipo.logo}}" alt="" class=" w-32 h-32  lg:w-52 lg:h-52">
                    <h1 class="text-center text-xl lg:text-6xl mx-2 md:mx-4 py-10 lg:mx-0 xl:mx-12 lg:pt-24 font-bold text-gray-600">VS</h1>
                    <img src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_EQUIPOS')}}{{jornada.idEquipoVisitante.logo}}" alt="" class="w-32 h-32  lg:w-52 lg:h-52">
                  </div>
                  <div class=" text-center mt-5 md:mt-0">
                      <a href="" class="bg-gray-600 hover:bg-gray-300 hover:text-gray-900 hover:border-gray-900 text-white text-lg md:text-2xl px-9 md:px-10 py-2 border-2 rounded-md">BOLETOS</a>
                      <div class="flex w-auto justify-center pt-8 md:pt-6 h-6">
                          <i><img src="pics/img/faceicon.png" alt="facebook" class="h-7 w-7"></i>
                          <i><img src="pics/img/instaicon.png" alt="instagram" class="h-7 w-7 mx-1"></i>
                          <i><img src="pics/img/twittericon.png" alt="twitter" class="h-7 w-7"></i>
                      </div>
                      <p class="pt-11 md:pt-8 text-lg text-gray-600">{{jornada.creado|date("d/m/Y")}}</p>
                  </div>
                  <a href="google.com" class="text-gray-600 absolute left-1 md:left-4 lg:left-10 bottom-0 text-sm md:text-xl font-bold underline bg-gray-200 rounded-lg">CALENDARIO</a>
                  <a href="google.com" class="text-gray-600 absolute right-1 md:right-4 lg:right-10 bottom-0 text-sm md:text-xl font-bold underline bg-gray-200 rounded-lg">MINUTO A MINUTO</a>
                </div>
              
              {% endfor %}

              </div>
              <div class="swiper-pagination" style="--swiper-pagination-color: gray;"></div>
              <div class="swiper-button-prev  rounded-lg h-16 w-10" style="color: gray;"></div>
              <div class="swiper-button-next  rounded-lg h-16 w-10 " style="color: gray;"></div>
          </div>
        </div> 
       <!--FINAL CALENDARIO-->
     </div>

    <div class=" w-80 md:w-96 h-12 md:h-14  bg-black text-2xl md:text-3xl mx-auto flex justify-center mb-5 -mt-16 md:-mt-7 rounded-md">
        <h1 class="text-white text-center m-auto font-semibold">NUESTRO PLANTEL</h1>
      </div>

     <!-- SLIDER JUGADORES -->
     <div class="swiper mySwiper2 w-full mt-14" style="height: 490px">
        <div class="swiper-wrapper">

            {% for jugador in jugadores %}
                                

          <div class="swiper-slide w-full h-full object-cover ">
            <div class="text-center grid justify-items-center">
              <a href="{{ path('frontend_player', {'player': jugador.id, 'name': jugador.nombre}) }}"><div class="h-80 w-80 lg:h-72 lg:w-72 xl:h-96 xl:w-96 rounded-full bg-center bg-cover" style="background-image: url(https://admin.xolos.com.mx/uploads/galeria/foto_jugador/{{jugador.fotografia}});"></div></a>
              <div class="flex max-h-48 w-80">
                  <p class="text-8xl ml-10 mr-0 text-red-600 font-bold">{{jugador.numero}}</p>
                  <p class=" pl-6 m-0 text-4xl pr-10 font-bold text-black mt-3">{{jugador.nombre}}</p>
              </div>
            </div>
          </div>

            {% endfor %}

        </div>
      </div>
     
     <!-- END S.JUGADORES -->
     <div class="w-4/12 md:w-44 h-12 md:h-14 bg-red-600 mx-auto flex justify-center mt-5 lg:mt-10 lg:mt-20 mb-5 rounded-md">
        <h1 class="text-white text-center text-2xl md:text-3xl m-auto font-semibold">GALERIA</h1>
      </div>

     <!-- GALERIA -->
    <div class=" mt-7 grid grid-cols-1 grid-rows-1 md:grid-cols-2 md:grid-rows-2 xl:grid-cols-4 xl:grid-rows-4 w-auto h-auto mx-5 md:mx-10 gap-1 p-0 lg:p-1">
        
    {% for galeria in galerias %}
            
        {% if loop.index == 1 %}
            
            <div class=" md:col-span-1 row-span-1  xl:col-span-2 xl:row-span-4 h-80 xl:h-auto xl:w-auto bg-red-400 rounded-md">
                <img src="https://admin.xolos.com.mx/uploads/galeria/foto_equipo/{{galeria.foto}}" alt="" class=" h-full w-full bg-center bg-cover object-cover rounded-md">
            </div>
                
                {% elseif loop.index == 2 %}

            <div class=" bg-red-400 md:col-span-1 md:row-span-1 xl:row-span-2 xl:col-span-2 h-80 bg-top rounded-md">
                <img src="https://admin.xolos.com.mx/uploads/galeria/foto_equipo/{{galeria.foto}}" alt="" class=" h-full w-full bg-center bg-cover object-cover rounded-md">
            </div>

        {% else  %}
                
            <div class=" bg-red-400 md:col-span-1 md:row-span-1 xl:row-span-2 xl:col-span-1 h-80 rounded-md">
                <img src="https://admin.xolos.com.mx/uploads/galeria/foto_equipo/{{galeria.foto}}" alt="" class=" h-full w-full bg-center bg-cover object-cover rounded-md">
            </div>

        {% endif %}


    {% endfor %}

    </div>
    <!-- FIN DE GALERIA -->
   
    <div class="w-auto h-auto m-auto md:mx-10 grid grid-cols-1 lg:grid-cols-3 pt-10">
        <div class="col-span-1 mb-5">
            <div class="h-12 md:h-14 w-64 md:w-80 bg-red-600 text-center flex justify-center mb-6 mx-auto rounded-md">
                <h1 class="text-white text-2xl md:text-3xl m-auto font-semibold">
                    CENTRO DE INICIACION
                </h1>
            </div> 
            <div class="h-80 w-80 md:h-96 md:w-96 lg:h-72 lg:w-72 xl:h-96 xl:w-96 mx-auto ">
                <a href="http://www.xolosacademy.com/"><img src="pics/img/itnento2.png" alt="" class="rounded-full h-full w-full"></a>
            </div>
        </div>
        <div class=" col-span-1 mb-5">
            <div class="h-12 md:h-14 w-64 md:w-80 bg-red-600 text-center flex justify-center mb-6 mx-auto rounded-md">
                <h1 class="text-white text-2xl md:text-3xl m-auto font-semibold">
                    INSCRIBE A TU EQUIPO
                </h1>
            </div>
            <div class="h-80 w-80 md:h-96 md:w-96 lg:h-72 lg:w-72 xl:h-96 xl:w-96 mx-auto">
                <a href="http://fut7.xolos.com.mx/landingpage.asp?dtsRoot=DTS199&de=https://www.google.com.mx/"><img src="pics/img/CIX.png" alt="" class="rounded-full h-full w-full"></a>
            </div>
        </div>
        <div class=" col-span-1 mb-5">
            <div class="h-12 md:h-14 w-64 md:w-80 bg-red-600 text-center flex justify-center mb-6 mx-auto rounded-md">
                <h1 class="text-white text-2xl md:text-3xl m-auto font-semibold">
                    DESCARGA LA XOLOAPP
                </h1>
            </div>
            <div class="h-80 w-80 md:h-96 md:w-96 lg:h-72 lg:w-72 xl:h-96 xl:w-96 mx-auto">
                <img src="pics/img/XOLOAPP.png" alt="" class="rounded-full h-full w-full">
            </div>
        </div>
    </div>

    <div class="w-auto h-28 md:w-auto md:h-72 mx-5 md:mx-10 mb-3 md:mb-6 bg-cover bg-center rounded-md" style="background-image: url(https://xolos.com.mx/bundles/frontend/images/xoloshop_1280X291.jpg);">
    </div>

    <div class="mb-10 w-auto h-auto md:h-72 mx-5 md:mx-10 bg-cover bg-no-repeat bg-bottom rounded-md" style="background-image: url(https://cdn.wegow.com/media/venue-media/estadio-caliente/estadio-caliente-1567153491.-1x1780.jpg);">
        <div class="w-auto h-72 bg-gray-900 bg-opacity-40 items-center justify-center text-center mb-5 pt-2 px-5 xl:py-14 md:py-14 rounded-md">
            <h1 class="text-center text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-white ">SUBSCRIBETE AL NEWSLETTER DE XOLOS</h1>
            <h3 class="text-center text-xl md:text-2xl text-white mb-5 mt-3">Susbcribete para recibir infomarcion exclusiva del equpo mas perron!</h3>
            <div class="flex justify-center items-center">
            <a href="" role="button" class="button bg-black hover:bg-red-600 flex text-white text-lg md:text-lg px-2 md:px-6 py-4  md:py-5 border-2 rounded-lg">REGISTRATE CON <img src="pics/img/facebook-circular-logo.png" alt="" class="ml-2 h-7 w-7 animate-bounce"></a>  
            </div>
        </div>
    </div>

    <button type="button" onclick="javascript:window.scrollTo(0, 0)" id="js_up" class="h-12 w-12 rounded-full text-sm z-20 bg-black text-white fixed bottom-3 right-3"><i class="fas fa-chevron-up fa-2x"></i></button>

 <!-- Scripts -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/app.js"></script>
{% endblock %}