{% extends 'base.html.twig' %}

{% block sharedata %}
    <meta property="og:title" content="{{noticia.titulo}}" />
    <meta property="og:image" content="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_NOTICIA')}}{{noticia.imagenPrincipal}}" />
    <meta property="og:description" content="{{ noticia.intro }}" /> 
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Xolos" />
    <meta name="twitter:creator" content="@Xolos" />
    <meta name="twitter:title" content="{{ noticia.titulo }}" />
    <meta name="twitter:description" content="{{ noticia.intro }}" />
    <meta name="twitter:image:src" content="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_NOTICIA')}}{{noticia.imagenPrincipal}}" />
    <meta name="twitter:domain" content="xolos.com.mx" />
{% endblock %}

{% block content %}

        
      <!-- Foto -->
    <div class=" w-full mx-auto mt-28" style="height: 92vh;">
        <img src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_NOTICIA')}}{{noticia.imagenPrincipal}}" alt="" class="h-full w-full object-cover object-top pb-10 md:mx-auto filter brightness-75">
        <div class="w-full xl:w-8/12 lg:w-8/12 md:w-8/12 sm:w-11/12 absolute bottom-2 md:bottom-0 left-0 h-52">
        <!-- Encabezado -->
        <h1 class=" text-gray-50 mb-3 md:mb-5 text-3xl mx-5 xl:text-5xl lg:text-4xl md:text-4xl mt-5 md:mt-0 uppercase" style="text-shadow:3px 3px 10px black;">{{noticia.titulo}}</h1>
        </div>
    </div>


    
    <!-- Contenido noticia - share -->
    <div class=" mx-5 lg:mx-10 lg:flex">
        <div class=" lg:w-2/3 mb-10 lg:mb-5">
            <div class="flex justify-center items-center gap-3">
                <p class="mr-3 text-xl text-gray-600 font-base">Compartir en:</p>

                <!-- Your share button code -->
                <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ app.request.uri }}&layout=button&size=large&width=103&height=28&appId" width="103" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <!-- Your share button twitter -->
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="Xolos" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
           </div>
           <p class="mt-10 text-justify lg:mr-12 text-xl md:text-xl font-base text-gray-600 mb-1"> {{noticia.intro | raw | nl2br}}</p>
            <p class="mt-10 text-justify lg:mr-12 text-base md:text-xl font-thin text-gray-600"> {{noticia.nota | raw | nl2br}}</p>
        </div>
        <div class="lg:w-1/3 h-auto w-auto mb-5">
            <div class="mb-1">
                <img src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/ayuntamiento_banner_445x230.jpg" alt="" class="w-full">
            </div>
            <div class=" ">
                <img src="https://xolos.com.mx/bundles/frontend/images/CalienteURL_Positivo.jpg" alt="">
            </div>
        </div>
    </div>

    

    <!-- Noticias relacionadas -->
    <div class="h-auto w-auto bg-gray-100 relative my-16 md:my-10">
        <div class="h-14 w-auto mx-5 md:mx-10 bg-black absolute -mt-7 px-3 md:px-4 rounded-md">
            <h1 class="text-2xl md:text-3xl text-white pt-2 font-bold">NOTICIAS RELACIONADAS</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 mx-5 md:mx-10">
            <div class=" max-w-3xl h-96 mt-14 mb-1 md:mb-10 md:mx-2 rounded-md" style="background-image: url(https://admin.xolos.com.mx/uploads/galeria/noticias/10885132126122c5bfdbaf7.jpg);">
                <section class="w-full h-full relative bg-gradient-to-t from-black via-transparent  to-transparent" >
                    <h1 class="mx-4 absolute bottom-8 text-white font-semibold text-3xl mb-2">ESTE ES UN TITULO</h1>
                    <a class=" mx-4 absolute bottom-3 text-white font-semibold text-base underline" href="https://tailwindui.com/components/marketing/sections/testimonials">VER NOTICIA</a>
                </section>
            </div>
            <div class=" max-w-3xl h-96 mt-14 mb-10 md:mx-2 rounded-md" style="background-image: url(https://admin.xolos.com.mx/uploads/galeria/noticias/864029974610d9dfa0b9ac.jpg);">
                <section class="w-full h-full relative bg-gradient-to-t from-black via-transparent  to-transparent" >
                    <h1 class="mx-4 absolute bottom-8 text-white font-semibold text-3xl mb-2">ESTE ES UN TITULO</h1>
                    <a class=" mx-4 absolute bottom-3 text-white font-semibold text-base underline" href="https://tailwindui.com/components/marketing/sections/testimonials">VER NOTICIA</a>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
