{% extends 'base.html.twig' %}

{% block content %}

    {{include('partials/proximoPartido.html.twig')}}
    
<!-- Contenedor Principal -->
    <div class="bg-white mx-2 md:mx-10 lg:mx-20 xl:mx-44 w-auto h-auto pt-1 md:pt-1 pb-5 px-2 md:px-5 mt-5 md:mt-10 mb-10 rounded-md">

        <!-- Encabezado Calendario -->

        {% for partidos in schedule %}

          <!-- Escudos, Marcador y Jornada -->
        <div class="h-72 w-full bg-white pt-4 md:pt-0 mt-2 md:mt-5 border-b-2 border-black">
            <div class="flex justify-between px-2 md:px-10 lg:px-20">
                <div class="h-28 w-28 md:h-36 md:w-36 lg:h-52 lg:w-52 lg:p-3">
                    <img src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_EQUIPOS')}}{{ partidos.idEquipo.logo }}" alt="" class="h-full pt-5 lg:pt-0 mx-auto">
                </div>
                <div class="p-5 text-center">
                    <h1 class="text-lg md:text-3xl text-black font-thin">{{partidos.descripcion}}</h1>
                    <div class="flex justify-center mt-5 gap-6 md:gap-16">
                        <p class="text-3xl md:text-5xl lg:text-7xl text-black font-thin">{{ partidos.equipoLocalResultado }}</p>
                        <p class="text-3xl md:text-5xl lg:text-7xl text-black">-</p>
                        <p class="text-3xl md:text-5xl lg:text-7xl text-black font-thin">{{ partidos.equipoVisitanteResultado }}</p>
                    </div>
                </div>
                <div class="h-28 w-28 md:h-36 md:w-36 lg:h-52 lg:w-52 lg:p-3">
                    <img src="{{constant('App\\IcUtils\\IcConfig::IC_IMAGENES_EQUIPOS')}}{{ partidos.idEquipoVisitante.logo }}" alt="" class="h-full pt-5 lg:pt-0">
                </div>
            </div>
            <!-- Botones -->
            {% if partidos.idEquipo.id == 33 %}
            
            <div class="flex justify-center gap-5 pt-6 lg:pt-0">
                <button class="h-9 w-24 md:w-32 text-sm md:text-lg bg-black text-white flex justify-center pt-2 md:pt-1 font-thin rounded-md" style="box-shadow: 0 7px 8px -6px black;">Boletos<img src="/pics/img/shop.png" alt="" class="ml-2 mt-1 md:mt-1.5 h-4 w-4"></button>
                <button class="h-9 w-24 md:w-32 text-sm md:text-lg bg-black text-white font-thin rounded-md" style="box-shadow: 0 7px 8px -6px black;">Minuto a Minuto</button>
            </div>
            {% else %}
            <div class="flex justify-center gap-5 pt-6 lg:pt-0">
                <button class="h-9 w-24 md:w-32 text-sm md:text-lg bg-black text-white font-thin rounded-md" style="box-shadow: 0 7px 8px -6px black;">Minuto a Minuto</button>
            </div>
            {% endif %}
            <!-- Estadio y Fecha -->
            <div class="flex justify-between px-5 pt-10 lg:pt-0">
                
                    <p class="text-lg md:text-xl text-black font-thin flex gap-3 mt-2">Estadio: {{ partidos.idEquipo.estadio }}</p>
 
                    <p class="text-base md:text-xl text-black font-thin mt-2">{{ partidos.creado|date("d/m/Y") }}</p>
  
            </div>
        </div>

        {% endfor %}

    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{% endblock %}